<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="DatabaseServerName" value="DESKTOP-P0EFI0A\SQLEXPRESS"/>
		<add key="DatabaseName" value="NEO_BANK"/>
		<add key="DatabaseUsername" value="neo"/>
		<add key="DatabasePassword" value="neo"/>
		<add key="Encrypt" value="false"/>
	</appSettings>
</configuration>